In [54]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.4.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
%pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Get:6 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:9 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,346 kB]
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:13 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,604 kB]
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,229 kB]
Fetched 7,534 kB in 4s (1,779 kB/s)
Reading package lists... Done

In [55]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
SPARK = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [56]:
from pyspark.sql.functions import round, col

In [57]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
SPARK.sparkContext.addFile(url)
HOME_DF = SPARK.read.csv(SparkFiles.get('home_sales_revised.csv'), sep=',', header=True)

# display the DataFrame
HOME_DF.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [58]:
# 2. Create a temporary view of the DataFrame.
HOME_DF.createOrReplaceTempView('home_sales')

In [59]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
SPARK.sql("""
SELECT date_built,
ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 4
GROUP BY date_built
""").show()

+----------+-------------+
|date_built|average_price|
+----------+-------------+
|      2016|    296050.24|
|      2012|    298233.42|
|      2017|    296576.69|
|      2014|    299073.89|
|      2013|    299999.39|
|      2011|     302141.9|
|      2015|    307908.86|
|      2010|    296800.75|
+----------+-------------+

In [60]:
#FIND 4BED HOMES
FBH = HOME_DF.filter(HOME_DF["bedrooms"] == 4)

#GROUP THEM BY YEAR (AVERAGE)
FBHBY = FBH.groupBy("date_built").agg({"price" : "avg"})

#GET PRICE & ROUND BY 2DEC
FBC = FBHBY.withColumn('rounded avg(price)',round((FBHBY['avg(price)']), 2))

#DISPLAY YEAR BUILT & PRICE
FBC.select(['date_built', 'rounded avg(price)']).show()

+----------+------------------+
|date_built|rounded avg(price)|
+----------+------------------+
|      2016|         296050.24|
|      2012|         298233.42|
|      2017|         296576.69|
|      2014|         299073.89|
|      2013|         299999.39|
|      2011|          302141.9|
|      2015|         307908.86|
|      2010|         296800.75|
+----------+------------------+

In [61]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
SPARK.sql("""
SELECT date_built,
ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 3 AND  bathrooms = 3
GROUP BY date_built
""").show()

+----------+-------------+
|date_built|average_price|
+----------+-------------+
|      2016|    290555.07|
|      2012|    293683.19|
|      2017|    292676.79|
|      2014|    290852.27|
|      2013|    295962.27|
|      2011|    291117.47|
|      2015|     288770.3|
|      2010|    292859.62|
+----------+-------------+

In [62]:
#FIND 3BED 3BATH
TRESB = HOME_DF.filter(HOME_DF["bedrooms"] == 3)
BEDBHOME = TRESB.filter(TRESB['bathrooms'] ==3)

#GROUP THEM BY YEAR (AVERAGE)
TRESYEAR = BEDBHOME.groupBy("date_built").agg({"price" : "avg"})

#GET PRICE & ROUND BY 2DEC
TRESPRICE = TRESYEAR.withColumn('rounded avg(price)',round((TRESYEAR['avg(price)']), 2))

#DISPLAY YEAR BUILT & PRICE
TRESPRICE.select(['date_built', 'rounded avg(price)']).show()

+----------+------------------+
|date_built|rounded avg(price)|
+----------+------------------+
|      2016|         290555.07|
|      2012|         293683.19|
|      2017|         292676.79|
|      2014|         290852.27|
|      2013|         295962.27|
|      2011|         291117.47|
|      2015|          288770.3|
|      2010|         292859.62|
+----------+------------------+

In [63]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
SPARK.sql("""
SELECT date_built,
ROUND(AVG(price), 2)
AS average_price FROM home_sales
WHERE bedrooms = 3 AND  bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY date_built
""").show()

+----------+-------------+
|date_built|average_price|
+----------+-------------+
|      2016|     293965.1|
|      2012|    307539.97|
|      2017|    280317.58|
|      2014|    298264.72|
|      2013|    303676.79|
|      2011|    276553.81|
|      2015|    297609.97|
|      2010|    285010.22|
+----------+-------------+

In [64]:
#FIND 3BED 3BATH </= 2000 SQFT
TRESBEDH = HOME_DF.filter((HOME_DF["bedrooms"] == 3) & (HOME_DF['bathrooms'] ==3) & (HOME_DF['floors'] == 2))
TRESSQFT = TRESBEDH.filter(TRESBEDH['sqft_living'] >= 2000)

#GROUP THEM BY YEAR (AVERAGE)
SQFT_PY = TRESSQFT.groupBy("date_built").agg({"price" : "avg"})

#GET PRICE & ROUND BY 2DEC
SQFTP = SQFT_PY.withColumn('rounded avg(price)',round((SQFT_PY['avg(price)']), 2))

#DISPLAY YEAR BUILT & PRICE
SQFTP.select(['date_built', 'rounded avg(price)']).show()

+----------+------------------+
|date_built|rounded avg(price)|
+----------+------------------+
|      2016|          293965.1|
|      2012|         307539.97|
|      2017|         280317.58|
|      2014|         298264.72|
|      2013|         303676.79|
|      2011|         276553.81|
|      2015|         297609.97|
|      2010|         285010.22|
+----------+------------------+

In [65]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

SPARK.sql("""
SELECT ROUND(AVG(view), 2)
AS average_view
FROM home_sales
WHERE price >= 350000
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+------------+
|average_view|
+------------+
|       32.26|
+------------+

--- 0.7957961559295654 seconds ---

In [66]:
start_time = time.time()

# </= 350000
VRHOMEPRICE = HOME_DF.filter(HOME_DF["price"] >= 350000)

#GET AVG VIEW
VRHOME_AVG = VRHOMEPRICE.agg({"view" : "avg"})

#ROUND 2DEC
VHOME = VRHOME_AVG.withColumn('rounded avg(view)', round((VRHOME_AVG['avg(view)']), 2))

#DISPLAY RESULTS
VHOME.select(['rounded avg(view)']).show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+
|rounded avg(view)|
+-----------------+
|            32.26|
+-----------------+

--- 0.4882466793060303 seconds ---

In [71]:
# 7. Cache the the temporary table home_sales.
SPARK.sql('cache table home_sales')

DataFrame[]

In [70]:
# 8. Check if the table is cached.
SPARK.catalog.isCached('home_sales')

True

In [72]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()
SPARK.sql("""
SELECT ROUND(AVG(view), 2)
AS average_view
FROM home_sales
WHERE price >= 350000
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+------------+
|average_view|
+------------+
|       32.26|
+------------+

--- 0.2846949100494385 seconds ---

In [73]:
start_time = time.time()

# </= 350000
VRHOMEPRICE = HOME_DF.filter(HOME_DF["price"] >= 350000)

#GET AVG VIEW
VRHOME_AVG = VRHOMEPRICE.agg({"view" : "avg"})

#ROUND 2DEC
VHOME = VRHOME_AVG.withColumn('rounded avg(view)', round((VRHOME_AVG['avg(view)']), 2))

#DISPLAY RESULTS
VHOME.select(['rounded avg(view)']).show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+
|rounded avg(view)|
+-----------------+
|            32.26|
+-----------------+

--- 0.41057515144348145 seconds ---

In [74]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
HOME_DF.write.partitionBy("date_built").parquet("hs_partitioned", mode ="overwrite")

In [80]:
# 11. Read the parquet formatted data.
HS_PART = SPARK.read.parquet('hs_partitioned')

In [81]:
# 12. Create a temporary table for the parquet data.
SPARK.sql('uncache table home_sales')

DataFrame[]

In [82]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()
SPARK.sql("""
SELECT ROUND(AVG(view), 2)
AS average_view
FROM home_sales
WHERE price >= 350000
""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+------------+
|average_view|
+------------+
|       32.26|
+------------+

--- 0.51808762550354 seconds ---

In [83]:
# 14. Uncache the home_sales temporary table.
SPARK.sql('uncache table home_sales')

DataFrame[]

In [84]:
# 15. Check if the home_sales is no longer cached
SPARK.catalog.isCached('home_sales')

False